PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/bootcamp
JWT_SECRET=secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=secret
JWT_QR_SECRET=secret
FRONTEND_URL=http:localhost:5132
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER="progcoder1@gmail.com"
EMAIL_PASS="jutn csdp exit yusu"
REDIS_HOST="upstash-host"
REDIS_PORT=6379
REDIS_PASSWORD="upstash-password"
REDIS_TLS=true
